@import '_variables.scss';

main {
  margin: 0 auto;
  padding: 2rem;
  max-width: 800px;
}

.select-date {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  margin-top: 3rem;
}

@include tablet {
  .select-date {
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) auto;
  }
}

.select-date__submit {
  display: inline-block;
  padding: .5rem 1rem;
  background-color: transparent;
  border: 2px solid $white;
  border-radius: 4px;
  color: $black;
}

.result {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.3;
}